body {
    background-color: #f0f8ff;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size:42px;
    color: white;
    text-align: center;
    margin: 0px;
}

header {
    background-color: #4fc3f7;
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid orange;
}

nav {
    background-color: #e3f2fd;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

h2 {
    color:#01579d;
    font-size: 28px;
    border-bottom:3px solid orange ;
    text-align: center;
}

a {
    color: #4fc3f7;
    text-decoration: none;
    border-radius: 25px;
    margin: 0px 15px;
    padding: 10px 20px;
}

a:hover {
    color:white;
    background-color: #4fc3f7;
}

footer {
    color: #e3f2fd;
    border-top: 5px solid orange;
    background-color: #4fc3f7;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}

.content {
    display: flex;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

img {
    border: 5px solid #4fc3f7;
    border-radius: 15px;
}

div {
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    padding: 25px;
    border: 2px solid #e3f2fd;
}

td {
    border: 1px solid #4fc3f7;
    padding: 12px;
    text-align: center;
    background-color: #e3f2fd;
}
